/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --lightgrey: #b1b1b1;
    --white: #fffaf0;
    --darkgrey: rgba(37, 40, 49, 255);
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 1, 1, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: var(--darkgrey);
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.signup-form h2 {
    margin-bottom: 20px;
    color: var(--white);
    text-align: center;
    font-weight: 600;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--lightgrey);
    border-radius: 4px;
    font-size: 16px;
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1);
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: white; 
    color: black; 
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.signup-form button:hover {
    background-color: var(--lightgrey); 
    color: black; 
}

.signup-form p {
    text-align: center;
    color: var(--lightgrey);
}

input::placeholder {
    color: var(--lightgrey);
    opacity: 1;
    font-style: italic;
}
