/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --lightgrey: #b1b1b1;
    --white: #fffaf0;
    --darkgrey: rgba(37,40,49,255)
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,1,1,1) 100%);
    justify-content: center;
}

h3 {
    color: var(--white);
    font-weight: 200;
    font-size: medium;
}

h4 {
    color: var(--white);
}

h6 {
    color: var(--lightgrey);
    font-weight: 200;
}
#small-text-top-left {
    padding-top: 3%;
    padding-left: 3%;
    font-size: xx-small;
}

#left-section-text {
    padding-left: 8%;
    padding-top: 25%;
    padding-bottom: 15%;
}

.options--holder--main {
    display: grid;
    grid-template-columns: 1.2fr 1fr; /* Two columns, with a 2:1 ratio */
    grid-template-rows: 1fr 1fr; /* Two rows for the right side */
    gap: 20px;
    width: auto;
    max-width: 1200px;
    height: 60vh; /* Adjust this to control the height */
    max-height: 350px;
    padding: 20px;
    border-radius: 10px;
}

.options--holder--voice--option {
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    outline: solid 1px var(--white);
    grid-row: 1 / 3;
    background-image: url(https://media.istockphoto.com/id/1410455925/vector/dynamic-blue-particle-wave-abstract-sound-visualization-digital-structure-of-the-wave-flow.jpg?s=612x612&w=0&k=20&c=RL7do3aEvte0cKukjC30eHQ4nujXUIOa2TvQbIN8eKw=);
}

.options--holder--text--option {
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    height: 100%;
    outline: solid 1px var(--white);
    background-color: var(--darkgrey);
}

.options--holder--text--option h5 {
    color: var(--white);
    font-weight: 300;
    font-size: 2.5vh;
}

.options--holder--text--custom {
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--darkgrey);
    outline: solid 1px var(--white);
    height: 100%;
}

.options--holder--text--custom h5 {
    color: var(--white);
    font-weight: 300;
    font-size: 2.5vh;
}

.btn-start-recording {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    justify-content: center;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 18px;
    margin-left: 10%;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
